<div class="flex items-start space-x-4">
  <div class="flex-shrink-0">
    <img class="inline-block h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
  </div>
  <div class="min-w-0 flex-1">
    <div class="py-4 px-8 lg:px-4 mb-4 bg-gray-50 rounded-lg">
      <p class="text-base"><%= comment.opinion %></p>
      <%= form_with model: [@content, comment, Vote.new] do |form| %>
        <%= form.submit "#{ comment.votes.count } ðŸ‘", class: "cursor-pointer block lg:inline-block px-0 py-1 text-sm text-center font-semibold text-red-500  rounded transition duration-200 animate-bounce"%>
      <% end %>
    </div>
  </div>
</div>




