<!--Para cada mensaje generamos con el index se genera un id que es el que iteramos en la vista messages-->
<div class="fixed top-4 right-4 z-50 max-w-sm w-full bg-green-50 shadow-lg rounded-md p-4 messages" id="message-<%= index %>">
  <div class="flex items-start">
    <div class="ml-3 w-0 flex-1">
      <h3 class="text-indigo-800 font-medium"><%= message %></h3>
    </div>
    <div class="ml-auto pl-3">
      <button class="message-close bg-transparent border-none text-indigo-800 hover:text-indigo-600" value="<%= index %>">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
